__tests__/
__e2e__/
__mocks__/
.gihub/
.husky/
.next/
.swc/
.vscode/
.yarn/
coverage/
node_modules/
playwright/
.dependency-cruiser.json
.dockerignore
.env
.eslintrc.json
.gitignore
.lintstagedrc.json
.npmrc
.nvmrmc
.prettierrc
clean.sh
commitlint.config.js
docker-compose.yml
Dockerfile
jest.config.js
jest.setup.js
playwright.config.js
README.md
