.slider {
  display: inline-block;
  position: relative;
  top: 10px;
  height: 50px;
  overflow: hidden;
  line-height: 0;
}

.slider div {
  color: #fff;
  height: 50px;
  margin-bottom: 50px;
  padding: 0;
  text-align: left;
  box-sizing: border-box;
  padding-bottom: 4px;
}

.slider div span {
  color: #f9a8d4;
  line-height: 48px;
  overflow: visible;
}

.keyword {
  animation: slide 10s cubic-bezier(0.7, -0.85, 0.5, 1.4) infinite;
}

@media only screen and (max-width: 1024px) {
  .slider {
    top: 18px;
  }

  .slider h1 {
    line-height: 0 !important;
  }
}

@keyframes slide {
  0% {
    margin-top: -300px;
  }
  5% {
    margin-top: -200px;
  }
  33% {
    margin-top: -200px;
  }
  38% {
    margin-top: -100px;
  }
  66% {
    margin-top: -100px;
  }
  71% {
    margin-top: 0px;
  }
  100% {
    margin-top: 0px;
  }
}
